<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your grant, <%= @grant.title %>, is currently crowdfunding.</h1>
    <p>
      The schools fund has decided to crowdfund a portion of your grant! This means that donors will be able to pledge donations to your grant and if the total pledges reach the crowdfund goal, the pledges will be processed and your grant will be funded. <br/>
    </p>
    <p>
      To raise support, make sure to share your grant's page using this link: <%= @url %>.
    </p>
  </body>
</html>