<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your grant, <%= @grant.title %>, has been rejected.</h1>
    <p>
      Unfortunately, the schools fund does not have the resources to fund your grant this month. Remember, you are allowed up to three grant applications per month! <br/>
    </p>
  </body>
</html>