<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your grant, <%= @grant.title %>, has been submitted!</h1>
    <p>
      You have successfully submitted your grant to bpsf-staging.herokuapp.com.<br/>
    </p>
    <p>
      To view your grant's page, just follow this link: <%= @url %>.
    </p>
  </body>
</html>