<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for pledging to donate to <%= @grant.title %>!</h1>
    <p>
      You have successfully pledged a donation to <%= @grant.title %>. Your card will not be charged the pledge amount until the grant reaches its crowdfund goal. We will keep you updated on the final status of this grant.<br/>
    </p>
    <p>
      To view the grant's progress, visit the grant's page at this link: <%= @url %>.
    </p>
  </body>
</html>