#terms.close.modal
  .modalscreen
  .content
    a.close.xbox
      i.icon-cancel
    .row
      .eleven.columns.centered
        .row
          h4.centalign <a href="#user_agreement">User Agreement</a> and <a href="#privacy_policy">Privacy Policy</a>
          br
          br
          #user_agreement
          h3.centalign User Agreement
          |
            <p>
                <strong>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY.</strong>
            </p>
            <p>
                The Berkeley Public Schools Fund (“the Schools Fund") requires that all visitors ("you") to its site, Friends &amp; Family Grants, agree to all of the
                terms and conditions in this User Agreement ("UA"). By accessing and using the Site, you indicate your acknowledgment and acceptance of this UA. As used in
                this Agreement, "we," "our," and "us" means the Schools Fund unless otherwise indicated.
            </p>
            <p>
                <strong>Who is Friends &amp; Family Grants?</strong>
            </p>
            <p>
                The Schools Fund is a 501(c)(3) not-for-profit corporation. We aim to improve public education in the Berkeley Unified School District (BUSD) in Berkeley,
                California by engaging citizens in an online grant-making platform (the Site) where Teachers describe and individuals can fund specific educational
                projects. The Site provides you with access to an online collection of information related to Friends &amp; Family Grants including text, pictures,
                photographs, audio and video, graphics, logos, marks and images (collectively, "Content"), as well as software used in accessing the Site, displaying the
                Content, and utilizing the functionality offered through the Site ("Software"), all of which are subject to this UA. Unless stated otherwise, any new
                Content and Software added to the Site and all revisions, modifications, and enhancements to the Site, the Content or the Software will be covered by this
                UA effective upon the date of each such addition.
            </p>
            <p>
                <strong>Eligibility.</strong>
            </p>
            <p>
                Use of the Site is void where prohibited or restricted. The Schools Fund is a local organization, the Schools Fund is not soliciting donations from the
                following States: Colorado, Florida, Maryland, Mississippi, New Jersey, New York, North Carolina, Pennsylvania, Virginia, Washington, West Virginia, and
                any other jurisdiction that restricts such activity.
            </p>
            <p>
                By using the Site, you represent and warrant that (1) all information you submit is truthful and accurate; (2) you are 18 years of age or older or have
                received parental consent and supervision when using the Site; and (3) your use of the Site does not violate any applicable law or regulation. Your use of
                the Site may be terminated without warning if we believe you are in violation of any of these conditions.
            </p>
            <p>
                <strong>Binding Agreement.</strong>
            </p>
            <p>
                By using the Site, you agree to be bound by this UA, whether you are a visitor, Teacher or Donor. The use of the Site (including, without limitation,
                photographs or images), by you, or anyone else authorized by you, is prohibited except as allowed by this UA. There are specific terms of use applicable to
                Donors and Teachers, which are described below.
            </p>
            <p>
                The School Fund's <a class="primary-color" href="#privacy_policy">Privacy Policy</a> is a Part of this Agreement.
            </p>
            <p>
                We are committed to protecting the privacy of any personal information you may provide to us when you use the Site. Please see our <a class="primary-color" href="#privacy_policy">Privacy Policy</a> for
                details. This UA includes and incorporates by reference the School Fund’s <a class="primary-color" href="#privacy_policy">Privacy Policy</a>. By accepting the terms of this UA, you agree to abide by the
                terms of this <a class="primary-color" href="#privacy_policy">Privacy Policy</a>.
            </p>
            <p>
                <strong>Our Proprietary Materials.</strong>
            </p>
            <p>
                We welcome you to our Site and we invite you to use it within the following rules:
            </p>
            <p>
                1. You may use the Site, Content and Software solely as and for the purposes stated on the Site and as described in this UA.
            </p>
            <p>
                2. You may make one copy of relevant Content for your non-commercial use only, provided you do not delete or change any copyright, trademark, or other
                proprietary notices. Beyond that, no text, logo, graphic, sound, image, photograph or Software published on or underlying the Site may be copied, modified,
                published or otherwise distributed or used without the prior express written permission of the Schools Fund.
            </p>
            <p>
                3. Except as otherwise expressly stated herein, you may not alter, modify, copy, distribute (for compensation or otherwise), transmit, display, perform,
                reproduce, reuse, post, publish, license, hyperlink to, promote, frame, download, cache, store for subsequent use, create derivative works from, transfer,
                or sell any information or Content displayed on or obtained from the Site, in any manner, without your receipt of the prior written authorization of the
                Schools Fund.
            </p>
            <p>
                4. You may not resell, decompile, reverse engineer, disassemble, or otherwise convert the Software underlying the Site to a human perceivable form.
            </p>
            <p>
                The information on the Site, the design and layout of the Site, the Content and Software contain elements protected by trade dress, copyright, or other
                laws, and may not be copied or imitated in whole or in part, except as specifically stated on the Site or in this UA. All Content, Software and materials
                on and underlying the Site are copyright (c) 2014 Berkeley Public Schools Fund or are licensed or otherwise used by the Schools Fund with permission.
                Except where noted otherwise, all rights to these materials are reserved by the Schools Fund or their respective owners, "Friends &amp; Family Grants", and
                the Friends &amp; Family Grants logo. Friends &amp; Family Grants are trademarks and service marks of the Berkeley Public Schools Fund which reserves all
                rights to its marks and logos. Individuals appearing on the Site do so with permission; names and photographs of individuals may not be copied, downloaded
                or otherwise used.
            </p>
            <p>
                All Site Content and functionality, and all Software underlying the Site, may be changed or updated by us from time to time, without notice. Although the
                Schools Fund cannot monitor the conduct of users of the Site, it is a violation of this UA to use the Site or any information obtained from the Site in
                order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit or sell to any person featured on the Site. Any unauthorized
                use of the Site, the Content or Software may violate copyright laws, trademark laws, the laws of privacy and publicity, and applicable regulations and
                statutes.
            </p>
            <p>
                <strong>Disclaimers.</strong>
            </p>
            <p>
                We make reasonable efforts to provide a Site that is safe and accurate, but can make no warranties. The Schools Fund retains the right to restrict use of
                the Site, in any manner it deems appropriate.
            </p>
            <p>
                YOU EXPRESSLY UNDERSTAND AND AGREE THAT: YOUR USE OF THE SITE, THE CONTENT AND SOFTWARE IS AT YOUR SOLE RISK. ALL CONTENT AND SOFTWARE ARE PROVIDED ON AN
                "AS IS" AND "AS AVAILABLE" BASIS. THE SCHOOLS FUND EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND WHETHER EXPRESS OR IMPLIED, INCLUDING BUT
                NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE SCHOOLS FUND MAKES NO WARRANTY THAT (i) THE CONTENT AND
                SOFTWARE ARE ACCURATE, TIMELY, UNINTERRUPTED, VIRUS-FREE OR ERROR-FREE; (ii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE CONTENT OR SOFTWARE WILL
                BE RELIABLE; AND (iii) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED.
            </p>
            <p>
                <strong>Limitation of Liability.</strong>
            </p>
            <p>
                IN NO EVENT SHALL THE SCHOOLS FUND, ITS EMPLOYEES, AGENTS, AFFILIATES, DIRECTORS, OFFICERS, REPRESENTATIVES, SUBCONTRACTORS, ADVISORS AND VOLUNTEERS OR
                ANYONE ELSE WHO HAS BEEN INVOLVED IN THE CREATION, PRODUCTION, OR DELIVERY OF THE SITE (COLLECTIVELY "THE SCHOOLS FUND AND ITS AFFILIATES") BE LIABLE FOR
                ANY DAMAGES WHATSOEVER, INCLUDING WITHOUT LIMITATION DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, DAMAGES OR LOSS OF
                PRODUCTS, USE OF DATA OR OTHER INTANGIBLE LOSSES RESULTING FROM THE USE OF ANY OF THE SITE OR ANY LINKED SITE (AS DEFINED BELOW), OR INABILITY TO USE THE
                SITE, CONTENT OR SOFTWARE. YOU UNDERSTAND AND AGREE THAT YOUR USE OF THE SITE IS PREDICATED UPON YOUR WAIVER OF ANY RIGHT TO SUE THE SCHOOLS FUND AND ITS
                AFFILIATES AND TO PARTICIPATE IN ANY CLASS ACTION SUIT FOR ANY LOSSES OR DAMAGES RESULTING FROM YOUR USE OF THE SITE.
            </p>
            <p>
                YOU UNDERSTAND AND AGREE THAT THE SCHOOLS FUND AND ITS AFFILIATES WILL NOT BE LIABLE FOR ANY DAMAGES CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION,
                INTERRUPTION, DEFECT, DELAY IN OPERATION OF TRANSMISSION, COMPUTER VIRUS, OR EQUIPMENT OR NETWORK FAILURE WHATSOEVER, AND THAT THE SCHOOLS FUND AND ITS
                AFFILIATES WILL NOT BE LIABLE WHATSOEVER FOR ANY DAMAGES OR INJURY THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE MATERIALS IN THE SITE, EVEN IF
                THERE IS NEGLIGENCE BY THE SCHOOLS FUND OR AN AUTHORIZED SCHOOLS FUND REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR BOTH.
            </p>
            <p>
                THE SCHOOLS FUND neither warrants nor represents that your use of Content, Software or any other materials displayed on the Site will not infringe rights
                of third parties.
            </p>
            <p>
                <strong>Third Party WebSite.</strong>
            </p>
            <p>
                The Site may provide links to other websites ("Linked Site") as a convenience to you. Such Linked Sites are not maintained by the Schools Fund, thus the
                Schools Fund is not responsible for the content, products, services or policies or activities of those Linked Sites. The inclusion of any link to such
                Linked Site does not imply endorsement by the Schools Fund of the Linked Site.
            </p>
            <p>
                <strong>Third Party WebSite Seeking to Hyperlink to the Site.</strong>
            </p>
            <p>
                We welcome appropriate hyperlinks to our Site. By publishing a hyperlink to our Site on your website, you warrant that the content of your website is
                appropriate and consistent with the stated purposes of the Site and the Schools Fund. If this is not the case, please do not link to any Site. The Schools
                Fund reserves the right to rescind the right to link to its Site at its sole discretion.
            </p>
            <p>
                Use of any Schools Fund trademark, service mark or other intellectual property or content provided by the Schools Fund for a hyperlink to a Site is
                permitted and licensed by the Schools Fund solely for the purposes described on the Site, and you shall not otherwise copy, modify, publish, use or
                distribute such trademarks, service marks or other intellectual property or content. Upon request by the Schools Fund, you shall immediately remove any
                hyperlink to the Site, and discontinue use of any trademarks, service marks or other intellectual property or content provided by the Schools Fund.
            </p>
            <p>
                <strong>Making Donations through Friends &amp; Family Grants.</strong>
            </p>
            <p>
                Friends &amp; Family Grants is a non-profit marketplace of the Berkeley Public Schools Fund that brings Donors together with Teachers in order to provide
                teachers with funding for educational projects, activities or experiences for students. Here, 90% of each donation made through Friends &amp; Family Grants
                goes directly to fund the grant for which it was given, with 10% of the donation to be used for administrative purposes.
            </p>
            <p>
                Included in the "material cost" (the price of the project exclusive of a fulfillment donation to the Schools Fund) are: credit card processing fees
                (regardless of payment method), and administrative and accounting costs. All Donors are subject to the specific Donor terms described below.
            </p>
            <p>
            All donations are tax deductible to the fullest extent allowed by law. You may view a copy of our    <a href="http://www.guidestar.org/organizations/94-2918219/berkeley-public-education.aspx">federal tax return</a> online by clicking on the link or you can
                obtain them by writing to:
            </p>
            <p>
                Berkeley Public Schools Fund
                <br/>
                P.O. Box 2066
                <br/>
                Berkeley, CA 94702
            </p>
            <p>
                <strong></strong>
            </p>
            <p>
                <strong>Special Provisions Relating to Donors</strong>
            </p>
            <p>
                Thank you for your interest in funding a student project at Friends &amp; Family Grants. By donating to a project or creating a new account on the Site
                ("Donor"), the following additional terms of the UA apply.
            </p>
            <p>
                <em>Donor Representations</em>
            </p>
            <p>
                By becoming a Donor, you promise that:
            </p>
            <p>
                1. You are a U.S. citizen at least 18 years old or if under 18 years old are acting with parental consent and under parental supervision;
            </p>
            <p>
                2. All information you provide to the Schools Fund is accurate, and you will update the information to keep it accurate; and
            </p>
            <p>
                3. You have full rights to any ideas, descriptions, materials, and photos you submit to the Schools Fund, and that you (and not the Schools Fund) are
                solely responsible for such submission, including its legality and appropriateness, and that all such materials are your original creations and use by the
                Schools Fund will not infringe on any rights of any third party.
            </p>
            <p>
                <em>Donor Responsibilities</em>
            </p>
            <p>
                You will be responsible for the use and maintenance of the confidentiality of your user ID and password (which you will receive upon completing the process
                of registering as a Donor) for access to Donor-restricted portions of the Site, and shall not share your ID and password with anyone else. You agree not to
                use the account, username, or password of another Donor or Teacher at any time or to disclose your password to anyone else. You agree to exit from your
                account at the end of each session and to immediately notify the Schools Fund of any unauthorized use of your password or account. You are solely
                responsible for any and all use of your account and for any actions that take place using your account. All suggestions and comments you provide become the
                intellectual property of the Schools Fund.
            </p>
            <p>
                In addition to the rights of the Schools Fund described elsewhere in this UA, you agree that descriptions of the proposed activity, the photographs of
                students and the thank-you notes, and other materials that the Schools Fund may send you regarding each project you fund are solely for your personal,
                non-commercial use and may not be distributed, displayed or copied in any way. Recognizing the critical importance of these restrictions in protecting the
                rights and privacy of the participants, you agree that any breach by you of any of these restrictions may cause the Schools Fund and others to suffer
                irreparable loss, damage and harm in an amount not easily ascertained, and therefore agree that the Schools Fund may immediately seek an injunction against
                you to stop your distribution, display, or copying of any such materials and you waive any objection to the scope or venue of such an action.
            </p>
            <p>
                <em>Services Provided by the Schools Fund</em>
            </p>
            <p>
                We review, verify and calculate the cost of each Teacher proposal before we post it on the Site for Donors to view. Our efforts include, but are not
                limited to, screening the proposed student project for compliance with our requirements, restricting recipients to verifiable BUSD employees, confirming
                the existence of requested materials, and determining a cost for the proposal.
            </p>
            <p>
                Sometimes the specific components included in a Teacher proposal change after we receive your donation. In the unusual case that this happens, the Schools
                Fund will review the Teacher's modified proposal. If our review determines the modified proposal is reasonably similar to the Teacher's original proposal,
                we will use the funds that you donated to pay for the modified proposal. If we determine that the modified proposal is not reasonably similar to the
                original proposal, we will return your donation.
            </p>
            <p>
                We take reasonable steps to protect the privacy of any personal and financial information you may provide to us when you donate through the Site as
                described in our <a class="primary-color" href="#privacy_policy">Privacy Policy</a>.
            </p>
            <p>
                The Schools Fund reserves the right to exclude any Donor from use of the Site, in the School Fund's sole discretion. All directions and requirements stated
                on the Site regarding Donors or donations shall apply to any donation offered or made by you.
            </p>
            <p>
                <em>Disclaimers</em>
            </p>
            <p>
                When a partially funded project does not reach complete funding within the funding deadline posted on the Site, “pledged” donations are not charged.
            </p>
            <p>
                If, for any other reason, the proposal cannot move forward (i.e., the Teacher no longer works in BUSD or no longer requires the requested funds, or the
                Teacher is no longer in good standing with the Schools Fund), all donations made to the proposal will be returned to the Donor as a credit to the Donor’s
                credit card.
            </p>
            <p>
                Infrequently, a Teacher will move from one school to a different school within the BUSD while they have active projects available for funding on our site.
                Until the teacher alerts us to their move, the school information associated with any projects posted on the website may not accurately reflect the new
                school at which they are teaching.
            </p>
            <p>
                The Schools Fund cannot be responsible for the success of any proposed or funded projects or for the activities (or lack thereof) of the Teachers or
                students participating in any proposed or funded projects.
            </p>
            <p>
                <strong>Special Provisions for Teachers</strong>
            </p>
            <p>
                Thank you for your interest in submitting a proposal for a Friends &amp; Family Grants project. By clicking the "I Agree" button during the process to sign
                up for funding proposals, the following additional terms of the UA apply to those users who sign up for a teacher account and/or to post a teacher funding
                proposal on the Site ("Teachers"):
            </p>
            <p>
                <em>Teacher Representations</em>
            </p>
            <p>
                By submitting a proposal, you promise that:
            </p>
            <p>
                1. You are a teacher, librarian, guidance counselor, coach or other public school employee directly serving students and currently employed at the school
                you note;
            </p>
            <p>
                2. The activity you propose is legal and falls within the standards of your board of education; all information you provide to the Schools Fund is
                accurate, and you will promptly update the information to keep it accurate;
            </p>
            <p>
                3. You have full rights to any ideas, descriptions, materials, and photos you submit to the Schools Fund, and that you (and not the Schools Fund) are
                solely responsible for such submission, including its legality and appropriateness, and that all such materials are your original creations and use by the
                Schools Fund will not infringe on any rights of any third party.
            </p>
            <p>
                <em>Teacher Responsibilities</em>
            </p>
            <p>
                You will be responsible for the use and maintenance of the confidentiality of your user ID and password for access to Teacher-restricted portions of the
                Site, and shall not share your ID and password with anyone else. You agree not to use the account, username, or password of another Member at any time or
                to disclose your password to anyone else. You agree to only have one account; please note that multiple accounts are prohibited. You agree to exit from
                your account at the end of each session and to immediately notify the Schools Fund of any unauthorized use of your password or account. You are solely
                responsible for any and all use of your account and for any actions that take place using your account.
            </p>
            <p>
                From time to time, the Schools Fund or a third party on the Schools Fund’s behalf may send you emails regarding important information regarding your use of
                the Site. Even if the electronic communication system that sends such emails to your account contains an "opt-out" feature, you acknowledge and agree that
                it is your responsibility to be aware of the information contained in these emails.
            </p>
            <p>
                <em>Rights You Grant to the Schools Fund</em>
            </p>
            <p>
                While you retain ownership in the works you create such as the proposal submissions (except for the photographs you take, as discussed below), as to all
                information or materials created by you and communicated or submitted to the Schools Fund through the Site and all materials (except for the photographs)
                which you send to the Schools Fund after the completion of the project, you hereby grant to the Schools Fund a perpetual, irrevocable, worldwide,
                non-exclusive, fully paid and fully sublicensable license to use the submission and project materials, and portions thereof, in furtherance of the Schools
                Fund's purposes and activities and to promote the Schools Fund and its programs, in any medium, and the School Fund may copy, publish, display, create
                derivative works and make other uses of the submission and project materials (in whole or in part) and license others to do the same, for the School Fund
                purposes, whether or not your proposal is funded.
            </p>
            <p>
                The Schools Fund reserves the right to exclude any Teachers from use of the Site, in the School Fund's sole discretion.
            </p>
            <p>
                <em>Your Responsibilities Should Your Proposal Be Funded </em>
            </p>
            <p>
                If your proposal is approved by the Schools Fund (in the School Fund's sole discretion), posted on the Site and funded, you agree to use the materials or
                funds received solely as stated in the proposal and in a manner directed by the Schools Fund. You agree that requested resources will be used by students
                or to provide a student experience as described in your proposal.
            </p>
            <p>
                You will use the funds only for the project the Schools Fund has approved, and agree to follow all other instructions as provided or directed by the
                Schools Fund regarding the funded activity.
            </p>
            <p>
                <em>Disclaimers</em>
            </p>
            <p>
                The Schools Fund will not be required to treat any Submission or Project Materials as confidential.
            </p>
            <p>
                <strong>Termination</strong>
            </p>
            <p>
                You may terminate this UA by destroying all materials obtained from the Site, cancelling your Donor or Teacher account, as applicable, and stopping all use
                of the Site. The Schools Fund may terminate this UA immediately at will for any reason, in its sole judgment, without warning or prior notice. Upon
                termination, you must destroy all materials obtained from the Site and stop all use of the Site.
            </p>
            <p>
                <strong>Miscellaneous</strong>
            </p>
            <p>
                This UA is governed by the laws of the State of California, USA and controlling United States federal law without regard to its choice of law or conflicts
                of law provisions. If any provision is deemed by a court of competent jurisdiction to be unlawful or unenforceable, it will not affect the validity and
                enforceability of the remaining provisions. The section headings are for convenience only and do not have any force or effect.
            </p>
            <p>
                <strong>Resolution of Disputes</strong>
            </p>
            <p>
                You agree that any action to resolve or enforce any dispute regarding use of the Site or this UA will be brought exclusively in the federal or State courts
                located in Alameda County, California.
            </p>
            <p>
                All participants agree to engage in mediation, before filing any action in a court, to seek to settle any controversy or claim arising out of or relating
                to use of the Site, and to share in the cost of any mediation.
            </p>
            <p>
                <strong>Indemnification</strong>
            </p>
            <p>
                You agree to indemnify and hold the Schools Fund and its Affiliates harmless from and against any and all loss, liability, claims, causes, actions, damages
                or penalties, including reasonable attorneys' fees, made by any third party due to or arising out of: (1) your use of any Site in breach or violation of
                any term of this UA; (2) your violation of any law or regulation; (3) breach of your representations and warranties as set forth herein; or (4) any content
                you provide to the Schools Fund.
            </p>
            <p>
                <strong>Contact the Schools Fund</strong>
            </p>
            <p>
                If you have any questions about the Site or this UA, you may contact us via e-mail at schoolsfund@berkeley.net. We are always glad to hear your questions
                and comments.
            </p>
            <p>
                <strong>Entire Agreement</strong>
            </p>
            <p>
                This UA, including the terms specifically applicable to Donors and Teachers, and other policies and notices the Schools Fund may post on the Site necessary
                for access to Donor and Teacher portions of the Site, constitute the entire agreement between the Schools Fund and you in connection with your use of the
                Site, hyperlinks to the Site and the Content and Software displayed on the Site, and supersedes any prior agreements between the Schools Fund and you
                regarding such matters, including prior versions of this UA. The Schools Fund may update this UA from time to time by posting revised versions of this UA
                on the Site, without notice to you except that the effective date at the top of this UA will change and your subsequent use of the Site is governed by that
                new UA. The terms of this UA are effective until terminated by the Schools Fund, at any time without notice. In the event of termination, the disclaimers,
                limitations of liabilities and indemnities set forth in this UA will survive.
            </p>
            <p>
                This User Agreement was last updated on 04/02/2014.
            </p>
          #privacy_policy
            <hr>
          h4.centalign Privacy Policy
          |
            <p>
                This document contains the privacy practices for the Berkeley Public Schools Fund’s Friends and Family Grants web site. This Site is owned and operated by
                the Berkeley Public Schools Fund (the Schools Fund). The purpose of this Privacy Policy is to inform you about the information that is collected about you
                on the Site, how the Schools Fund may use and disclose the information that is collected, how information can be corrected or changed, and your obligations
                regarding information about others you may encounter in using the Site. Please note that this Privacy Policy only governs information gathered from you
                online through this Site.
            </p>
            <p>
                1. <em>How Does the School Fund Collect Information?</em>
            </p>
            <p>
                Our web server automatically recognizes and collects the domain name and IP address of visitors to our Site. In addition, we collect information
                volunteered by the visitor to participate in activities on the Site, such as making a donation, creating or participating in a giving page, registering to
                create an account, requesting email newsletters and/or contacting us through one or more of our contact email addresses. The Schools Fund also collects
                personal information when you create an account. When you create an account we ask for information such as your name, email address, postal address, and
                phone number. If a visitor has enabled cookies in their browser, we also will send a cookie file that will only store a unique, random session ID that is
                maintained throughout the session to track the pages visited, allowing us to provide visitors to our Site with certain conveniences, such as delivering
                unique content. We also use cookies to track the path of users through our Site, and to keep track of where they came from (for example, if they arrive via
                a search engine). We also collect aggregate tracking information derived mainly from tallying page views throughout our Site. We also collect aggregate
                tracking information derived mainly from tallying page views throughout our Site, and we use Google Analytics Demographics and Interest Reporting to access
                3rd-party audience data (such as age, gender and interests) on an aggregate basis.
            </p>
            <p>
                2. <em>How Does the Schools Fund Protect Information?</em>
            </p>
            <p>
                The Schools Fund exerts reasonable efforts to protect personal information received from users of our Site from unauthorized use or disclosure. We do not
                allow unauthorized access via the Internet to our server. All credit card information provided as requested on the Site for donations is encrypted using
                the SSL protocol and we do not retain any end-user credit card information after the processing of the transaction is complete.
            </p>
            <p>
                3. <em>How Does the Schools Fund Use Information? </em>
            </p>
            <p>
                3.1 <u>General</u>. The Schools Fund uses information for the following general purposes: to evaluate proposals to fund teacher projects, provide
                information regarding approved proposals to the Site' visitors and potential donors, to customize the content and/or layout of the Site for each individual
                user, to improve the content of our Site, our services or programs, and to contact you.
            </p>
            <p>
                3.2 <u>Contacting You</u>. By creating an account on a Site, you agree to receive emails based on transactional activity, which may include confirmation
                emails, receipts, acknowledgment messages, updates on proposals you've funded, or updates on teacher feedback.
            </p>
            <p>
                Email addresses provided by users of the Site will only be used to send email from or related to the Schools Fund and its programs. The Schools Fund
                strictly enforces e-mail privacy, and e-mail addresses are not sold, leased or bartered to or with any third parties.
            </p>
            <p>
                Postal addresses collected on-line may be used for various mailings from the Schools Fund. Postal addresses are not sold, leased or bartered to or with any
                third parties.
            </p>
            <p>
                3.3 <u>Donations, Registries and Other Services</u>. By voluntarily providing us with your name, credit card information, e-mail address, postal address,
                telephone number, billing address, and any other personally identifiable information, you consent to our use of such information for the purpose(s) for
                which it was collected, such as processing your donations, funding a project in someone's honor, and/or for providing any other service or product you
                request.
            </p>
            <p>
                3.4 <u>Aggregate Data</u>. The Schools Fund may collect information about the use of the Site, such as the types of services used and how many users we
                receive daily. This information is collected in aggregate form, without identifying any user individually. The Schools Fund may use this aggregate,
                non-identifying statistical data for statistical analysis, marketing or similar promotional purposes. This may include disclosure of this information to a
                third party market analysis firm.
            </p>
            <p>
                4. <em>How Does the Schools Fund Disclose Information?</em>
            </p>
            <p>
                We do not sell, trade, or rent your personal information to others without your express consent. We disclose your personal information only to process your
                credit card donations, or in the following circumstances:
            </p>
            <p>
                4.1 <u>Governmental Order</u>. The Schools Fund may provide your personal information if necessary, in the Schools Fund’s good faith judgment, to comply
                with laws or regulations of a governmental or regulatory body or in response to a valid subpoena, warrant or order or to protect the rights of the Schools
                Fund or others.
            </p>
            <p>
                4.2 <u>Business Transition</u>. If the Schools Fund goes through a business transition, such as a merger, acquisition by another organization, or sale of
                all or a portion of its assets, we reserve the right to transfer your personal information, which will likely be among the assets transferred.
            </p>
            <p>
                4.3 <u>Contractors and Other Third Party Service Providers</u>. The Schools Fund may employ contractors or other third parties. These contractors or other
                third parties may have access to your personal information if necessary to perform services for us; however, they may only use such personal information
                for the purpose of performing that function and may not use it for any other purpose.
            </p>
            <p>
                4.5 <u>Third Party WebSite</u>. The Schools Fund is not responsible for the contents, services or the privacy polices or practices of websites to which we
                may provide hyperlinks from the Site, or of the website of its affiliates, sponsors or corporate partners.
            </p>
            <p>
                5. <em>A Note to Parents</em>
            </p>
            <p>
                Use of the Site by children (defined as persons under the age of 18) (permitted under the <a class="primary-color" href="#user_agreement">User Agreement</a> with parental consent and supervision) does not
                require disclosure of any personal information about the child. The Schools Fund does not wish or intend for any child to provide personally identifiable
                data to the Schools Fund through use of the Site.
            </p>
            <p>
                6. <em>Teachers.</em>
            </p>
            <p>
                The following additional terms apply to those users who sign up for a teacher account and/or are approved by the Schools Fund to post a proposal for
                funding on the Site:
            </p>
            <p>
                6.1 <u>General Rule</u>. The Schools Fund will only disclose a teacher's first name, email address, personal phone number, or personal address in select
                instances outlined below. The Schools fund, however, will liberally disclose a teacher's title (Mr, Ms, etc), last name, school address, proposal
                information, and feedback compiled for funded projects. Recipients of such information include school officials, teacher colleagues, Site visitors, donors,
                third party contractors, and other teachers.
            </p>
            <p>
                6.2 <u>Verification of Affiliation</u>. The contact information for BUSD employees applying for project funds through the site will be verified by
                referencing current District personnel lists.
            </p>
            <p>
                6.3 <u>Teacher Projects</u>. The Schools Fund will provide visitors to the Site and potential donors with information regarding teacher projects available
                for funding.
            </p>
            <p>
                6.4 <u>School Officials and Teacher Colleagues</u>. The Schools Fund may provide information about a teacher (including but not restricted to name, postal
                address, and proposal information), and funded projects to principals, teacher colleagues at your school, superintendents, or other employees of the local
                school system.
            </p>
            <p>
                6.5 <u>Donors</u>. The Schools Fund may provide donors and Site visitors with information about a teacher, namely the teacher's title, first and last name,
                and proposals submitted by him/her.
            </p>
            <p>
                7. <em>Your Right to Access and Amend Your Personal Information</em>
            </p>
            <p>
                You have the right to request access to the personal information that we record about you. Your right includes the right to view such information and copy
                it in person, or request that a copy of it be sent to you by mail (for which we may charge you a reasonable fee to cover our costs). Your right also
                includes the right to request corrections, amendments or deletions of any personal information that is in our possession. The procedures that you must
                follow to request access to or an amendment to your personal information are as follows:
            </p>
            <p>
                Submit a request in writing to:
            </p>
            <p>
                Berkeley Public Schools Fund
                <br/>
                P.O. Box 2066
                <br/>
                Berkeley, CA 94702
            </p>
            <p>
                The request should include your name, address, social security number, telephone number, and the recorded information to which you would like access or the
                specific information in dispute and the identity of the document or record that contains the disputed information. The request should state whether you
                would like access in person or a copy of the information sent to you by mail. Upon receipt of your request, we will contact you within thirty (30) business
                days to arrange providing you access in person or the copies that you have requested or to notify you either that we have made the correction, amendment or
                deletion or that we refuse to do so and the reasons for the refusal, which you will have an opportunity to challenge.
            </p>
            <p>
                8. <em>Contact The Schools Fund</em>
            </p>
            <p>
            If you have any questions about our Privacy Policy or practices, you may contact us at    <a href="mailto:schoolsfund@berkeley.net">schoolsfund@berkeley.net</a> or at:
            </p>
            <p>
                Berkeley Public Schools Fund
                <br/>
                P.O. Box 2066
                <br/>
                Berkeley, CA 94702
            </p>
            <p>
                We are always glad to hear your questions or comments.
            </p>
            <p>
                9. <em>Changes to this Privacy Policy</em>
            </p>
            <p>
                This Privacy Policy may be changed or updated by us from time to time by posting such changes on the Site. When we post changes to this Privacy Policy, we
                will revise the "last updated" date at the bottom of this Privacy Policy. We encourage you to periodically review this Privacy Policy to be informed of how
                the Schools Fund is protecting your information.
            </p>
            <p>
                This Privacy Policy was last updated on 04/02/2014.
            </p>




