<li class="row">
  <div class="three columns"><%= link_to grant.title, grant %></div>
  <div class="three columns"><%= render partial: 'grant_status', locals: { grant: grant } %></div> 
  <div class="three columns"><%= render partial: 'toggle_links', locals: { grant: grant } %></div>
</li>