<div class="modal" id="crowdfund-modal">
  <div class="content">
    <a class="close switch" gumby-trigger="|#crowdfund-modal"><i class="icon-cancel" /></i></a>
    <div class="row">
      <div class="ten columns centered text-center">
        <%= debug grant %>
        <p class="btn primary medium">
          <a href="#" class="switch" gumby-trigger="|#crowdfund-modal">Close Modal</a>
        </p>
      </div>
    </div>
  </div>
</div>

