<div class="row">
  <div class="twelve columns">
    <span class="category pull_left">School:&emsp;</span>
    <li class="field metro inlined">
      <div class="picker">
        <%= select_tag "school", options_for_select(["All","Donated","Have Not Donated"]) %>
      </div>
    </li>
  </div>
</div>
