<div class="row">
  <div class="twelve columns">
    <span class="category pull_left">Category:&emsp;</span>
    <li class="field metro inlined">
      <div class="picker">
        <%= form_tag(:action => :index, :id => 'filter_donated') do %>
          <%= select_tag "donated", options_for_select(["All","Donated","Have Not Donated"], params[:donated]), :onchange => "this.form.submit()" %>
        <% end %>
      </div>
    </li>
  </div>
</div>
