.row
  .twelve.columns
    span.category.pull_left Category:&emsp;
    li.field.metro.inlined
      .picker
        = form_tag(:action => :index, :id => 'filter_donated') do
          = select_tag "donated", options_for_select(["All","Donated","Have Not Donated"], params[:donated]), :onchange => "this.form.submit()"
