tr
  td= link_to pending_user.name, user_path(id: pending_user.id )
  td= pending_user.email
  td
    = link_to '<i class="icon-check approve"></i>'.html_safe, approve_user_path(id: pending_user.id), method: :post, remote: true
    = link_to '<i class="icon-cancel reject"></i>'.html_safe, reject_user_path(id: pending_user.id), method: :post, remote: true
