- title "Admin Dashboard"
.bp-admin-dashboard data-bp-controller='AdminDashboardController'
  .row
    .twelve.columns
      .wrapper.light
        .row
          h2.centalign Admin Dashboard
          section#tabs.tabs
            .row
              .twelve.columns.centered.centalign
                ul.tab-nav
                  li#grants
                    a href="#"  Grants
                  li#donors
                    a href="#"  Donors
                  li#recipients
                    a href="#"  Recipients
                  li#distributions
                    a href="#"  Data Distributions
            .tab-content
              = render 'order'
              = render partial: 'shared/table', locals: { heads: ["Name", "Status", "Teacher, School"], partials: [['all_grants', @grants, :grant, "There are no grants"]] }
              .ten.columns.centered.centalign
                = will_paginate @grants
            .tab-content
              = render 'donated'
              = render partial: 'shared/table', locals: { heads: %w[Name Email], partials: [['users', @donors, :user, "There are no users"]] }
              .ten.columns.centered.centalign
                = will_paginate @donors
            .tab-content
              = render 'school'
              = render partial: 'shared/table', locals: { heads: %w[Name Email], partials: [['users', @recipients, :user, "There are no recipients"]] }
              .ten.columns.centered.centalign
                = will_paginate @recipients
            .tab-content data-bp-get='/admin/load_distributions'
              #distributions-tab
