<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">

      <div class="row">
        <h2>Admin Dashboard</h2>

        <table>
          <thead>
            <tr>
              <th >Name</th>
              <th >Status</th>
            </tr>
          </thead>
          <tbody id="grantlisting">
            <%= render partial: 'all_grants', collection: @grants, as: :grant %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>