| $("#grants-tab").html(
| "#{escape_javascript(render partial: 'shared/table', locals: { heads: ["Name", "Status", "Teacher, School"], partials: [['all_grants', @grants, :grant, "There are no grants"]] })}
| #{escape_javascript(ajax_will_paginate @grants)}");