| $("#donors-tab").html(
| "#{escape_javascript(render 'donated')}
| #{escape_javascript(render partial: 'shared/table', locals: { heads: %w[Name Email], partials: [['users', @donors, :user, "There are no users"]] })}
| #{escape_javascript(will_paginate @donors)}");