@import "base";
@import "mixins";
@import "inlinedforms";
@import "slideshow";
@import "home-content";
@import "progress-bar";
@import "navigation";
@import "footer";
@import "paginate";
@import "loader";
@import "select";


// Trival Styles
	// Color Styles
	.green{background-color:$secondary-color;}
	.red{background-color:$danger-hover-color;}
	.darken{color:#000;}
	.primary-color{color:$primary-color;}

	//Position Styles
	.centalign{text-align:center;}
	.inlined{display:inline;}
	.padada{padding-top:10px;}
	.padless{padding:0px !important;}
	.marginless{margin: 0px !important;}
	.elevate{z-index: 2000;}

	//Display Styles
	.poofin{display:none;}
	@include respond(all-phones){
		.poofin{display:inline-block !important;}
		.poofout{display:none !important;}
	}
	.nodisplay{display:none;}

	//Font Styles
	.ultitle{border-bottom:$table-cell-border-size $table-cell-border-style $default-color;}
	.smallfont{font-size:$small;}
	.medfont{font-size:$med;}
	.largefont{font-size:$large;}
	.inline-block{display: inline-block;}

//Dropdown Menu Styles
	.picker option{
		height:30px;
		background-color: rgb(255,255,255);
		line-height:36px;
		border: none;
		padding: 6px 0px 6px 15px;
		}
	.picker{height:40px;}





	.imgholder{
		width:100%;
		overflow:hidden;
		text-align: center;
		@include vertical-center-text(150px);
		img {
			vertical-align: middle;
			height: 100%;
			width: auto;
		}
	}

//Grant View Page
	.coverholder{
		width:100%;
		max-height:470px;
		overflow:hidden;
		text-align: center;
		img {
			vertical-align: middle;
			min-width:100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}
	}

	$imglargereplacementhgt: 250px;

	.imgreplacementlrg{
		display:block;
		background: rgb(255,117,117);
		text-align: center;
		overflow:hidden;
		color: $white;
		@include vertical-center-text($imglargereplacementhgt, $xlarge);
		.repson{
			margin:0 auto;
			margin-top: 10px;
			width: 97%;
			color: $white;
			text-align: center;
			border: 5px dashed $white;
			@include vertical-center-text($imglargereplacementhgt - 20px, $xlarge);
		}
	}//Only used when there is no image available

	.grantviewbar{
		padding-top: 10px;
		.gcdiv{
			padding-top: 8px;
			.gctext{font-size:$med;}
		}
	}

	#donorlist {
		ul {
		  list-style-type: none;
		}
	}
	.mousescroll {
	  overflow: hidden;
	}
	.mousescroll:hover {
	  overflow-y: scroll;
	}

	//Video Styles
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	//Superadmin Grant Status Buttons
	.toggle_reject{
		@extend .medium;
		@extend .danger;
		@extend .btn;
		margin:(0px 5px 0px 5px);
	}

	.toggle_crowdfund{
		@extend .medium;
		@extend .primary;
		@extend .btn;
		margin:(0px 5px 0px 5px);
	}

	.toggle_reconsider{
		@extend .medium;
		@extend .default;
		@extend .btn;
		margin:(0px 5px 0px 5px);
	}

	.toggle_fund{
		@extend .medium;
		@extend .secondary;
		@extend .btn;
		margin:(0px 5px 0px 5px);
	}

	.toggle_crowdfunding_failed{
		@extend .medium;
		@extend .danger;
		@extend .btn;
		margin:(0px 5px 0px 5px);
	}


//Admin Dashboard
	.colorbox{
		display:inline-block;
		height:15px;
		width:15px;
	}

	.hoverrow{
		cursor:pointer;
		@include transition-duration(0.2s);
		&:hover, &:active, &:focus{
			background-color: lighten($global-bg-color, 10%);
			a{color: $primary-color !important}
		}
	}

//Teacher Dashboard
	.destroy-grant-button{
		@extend .toggle_reject;
	}

	.edit-grant-button{
		@extend .toggle_crowdfund;
	}

	.create-grant-button{
		@extend .toggle_fund;
	}

//Javascript Hover/Modal Classes
	.open{
		left:0px;
	}


//Edit Grant Page
	.hinttext{color:darken($global-bg-color, 25%);}


.social-icon{
	display:inline-block;
	height:2.5em;
	width:2.5em;
	margin:0 0.2em 0.2em;
	line-height:2.5em;
	text-align:center;
	@include border-radius(1.25em);
	background-color:$black;
	i{
		font-size:1.5em;
		color:$white;
	}

	&:hover{
		background-color: $primary-color;
	}
}
