@import "utils";
@import "base";
@import "mixins";
@import "inlinedforms";
@import "slideshow";
@import "home-content";
@import "progress-bar";
@import "show-grant";
@import "edit-grant";
@import "admin-dashboard";
@import "teacher-dashboard";
@import "teacher-dashboard";
@import "navigation";
@import "footer";
@import "paginate";
@import "loader";
@import "select";




//Dropdown Menu Styles
	.picker option{
		height:30px;
		background-color: rgb(255,255,255);
		line-height:36px;
		border: none;
		padding: 6px 0px 6px 15px;
		}
	.picker{height:40px;}


