.hinttext{color:darken($global-bg-color, 25%);}

.edit-grant-divider{
	@extend .footer-divider;
}

.uploaded{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 50;
	cursor: pointer;
}

.grant-cover-prompt{
	position: absolute;
	top:35%;
	width: 100%;
}