.footer-wrapper{
	padding:30px 20px 0px 20px;
	margin-top:0px;
}

.footer-divider{
	display: block;
	height: 1px;
    border: 0;
    border-top: 1px solid $global-bg-color;
    margin: 1em 0;
    padding: 0;
}