.inlined-picker {
  position: relative;
  width: auto;
  display: inline-block;
  margin: 0 0 2px 1.2%;
  overflow: hidden;
  border-bottom: 1px dashed lighten($default-color, 0%);
  font-family: $font-family;
  font-weight: $font-weight-regular;
  height: auto;
  background-color: #fff;
  vertical-align:bottom;
  &:first-child {
    margin-left: 0;
  }
  &:hover, &:focus, &:active {
    background-color: lighten($primary-color, 40%);
  }
  select {
    position: relative;
    display: block;
    min-width: 100%;
    width: 100%;
    height: auto;//40px;
    padding: 0;
    color: $body-font-color;
    font-family:$font-family;
    font-weight: $font-weight-regular;
    border: none;
    background: transparent;
    outline: none;
    -webkit-appearance: none;
    z-index: 99;
    cursor: pointer;
    @include font-size($norm);
  }
  select::-ms-expand {
    display: none;
  }
}

.h2-font{
  select{
    font-size:$xlarge;
    font-weight: $font-weight-light;
  }
}