// Color Styles
.green, .secondary-color{
	background-color:$secondary-color;
}

.red, .danger-color{
	background-color:$danger-hover-color;
}

.darken, .black{
	color:#000;
}

.primary-color{
	color:$primary-color;
}


//Position Styles
.half-width{
	width:50%;
}

.centalign, .text-center{
	text-align:center;
}

.padada{
	padding-top:10px;
}

.padless, .no-padding{
	padding:0px !important;
}

.marginless, .no-margin{
	margin: 0px !important;
}

.no-border{
	border: none !important;
}

.elevate{
	z-index: 2000;
}

.nudge-top{
	margin-top:10px;
}

.nudge-bottom{
	margin-bottom:10px;
}

.nudge-right{
	margin-right: 10px;
}

.nudge-left{
	margin-left: 10px;
}

//Display Styles
.inlined, .inline{
	display:inline;
}

.inline-block{
	display: inline-block;
}

.poofin{display:none;}
@include respond(all-phones){
	.poofin{display:inline-block !important;}
	.poofout{display:none !important;}
}

.hidden{
	visibility: hidden;
}

.display-none{
	display:none;
}

.pointer{
	cursor:pointer;
}

//Font Styles
.ultitle{
	border-bottom:$table-cell-border-size $table-cell-border-style $global-bg-color;
}

.smallfont, .font-small{
	font-size:$small;
}

.medfont, .font-med{
	font-size:$med;
}

.largefont, .font-large{
	font-size:$large;
}