<tr>
    <td>
      <%= draft_grant.title %>
    </td>
    <td>
      <%= link_to '<span data-tooltip="Delete" class="ttip pull_right"><i class="icon-cancel"></i></span>'.html_safe, draft_path(draft_grant), method: :delete%>
      <%= link_to '<span data-tooltip="Edit" class="ttip pull_right"><i class="icon-pencil"></i></span>'.html_safe, edit_draft_path(draft_grant) %>
    </td>
</tr>