<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">
      <div class="row">
        <h2>Welcome <%= current_user.first_name %>!</h2>
      </div>

      <div class="row">
        <div class="six columns">
        <h3>
          Draft Applications
          <span class="ttip pull_right" data-tooltip="New Application">
            <%= link_to '<i class="icon-plus"></i>'.html_safe, new_draft_path %>
          </span>
        </h3>
          <table>
            <%= render partial: 'my_draft_grants', collection: @draft_grants, as: :draft_grant %>
          </table>

        </div>

        <div class="six columns">
          <h3>Submitted Applications</h3>
          <table>
              <%= render partial: 'my_grants', collection: @grants, as: :grant %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
