<% @users.each do |user| %>
  <% if !user.is_a?(Admin) && !user.is_a?(Recipient) && !user.is_a?(SuperUser) %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
<% end %>