<% @users.each do |user| %>
  <% if !user.is_a?(Admin) && !user.is_a?(Recipient) && !user.is_a?(SuperUser) %>
    <tr><td>
    <%= user.first_name %> <%= user.last_name %>
    </td></tr>
  <% end %>
<% end %>