<!--*****************************************MENU**********************************************-->
  <div class="row">
    <div class="one columns">
      <span class="category">Category:</span>
    </div>
    <div class="eight columns">
      <li class="field metro">
        <div class="picker">
          <select>
            <option value="#" >All</option>
            <option>Art &amp; Music</option>
            <option>Supplies</option>
            <option>Reading</option>
            <option>Science &amp; Math</option>
            <option>Field Trips</option>
            <option>Other</option>
          </select>
        </div>
      </li>
    </div>
    <div class="three columns dayleft">
      Days Left: 17
    </div>
  </div>