<!--*****************************************MENU**********************************************-->
  <div class="row">
    <div class="one columns">
      <span class="category">Category:</span>
    </div>
    <div class="eight columns" id="nobullet">
      <li class="field metro">
        <div class="picker">
          <%= form_tag(:action => :home, :id => 'filter_subject') do %>
            <%= select_tag "subject", options_for_select(PagesController::MENU, params[:subject]), :onchange => "this.form.submit()" %>
          <% end %>
        </div>
      </li>
    </div>
    <div class="three columns dayleft">
      Days Left: 17
    </div>
  </div>

<script>
  $("#subject_select").change(function(){
    alert($("#subject_select").val())
    window.location.href="/"  
  });
</script>