<div class="row">
  <div class="fluid_container">
    <div class="banner">
        <ul style='cursor: pointer;'>
          <%= render partial: 'slideshow_grants', collection: @slideshow_grants, as: :grant %>
        </ul>
    </div>
    <div class="navholder">
      <a href="#" class="unslider-arrow prev"><i class='icon-left-open-big'></i></a>
      <a href="#" class="unslider-arrow next"><i class='icon-right-open-big'></i></a>
    </div>
  </div>
</div>

<div class="row">&nbsp;</div>
