- unless @slideshow_grants.empty?
	.home-slider-container
	  .home-slider
	    ul.slides-container
			= render partial: 'slideshow_grants', collection: @slideshow_grants, as: :grant

//- unless @slideshow_grants.empty?
//	.row
//	  .fluid_container
//	    .banner
//	      ul style="cursor: pointer;"
//	        = render partial: 'slideshow_grants', collection: @slideshow_grants, as: :grant
//	    .navholder.leftarrow
//	      a.unslider-arrow.prev.pointer
//	        i.icon-left-open-big
//	    .navholder.rightarrow
//	      a.unslider-arrow.next.pointer
//	        i.icon-right-open-big
//	.row &nbsp;
