<div class="row">
  <div class="fluid_container">
    <div class="banner">
        <ul>
          <li style="background-image:url(http://placehold.it/1040x450/58c026);">
              <div class="infocard slidecard">
                 <div class="cardtitle">
                   <h3>Go Hiking</h3>
                 </div>
                 <div class="cardcontent">
                   <p>Director: Carlos Danger<br>
                   School: US Congress<br>
                   Description: Students will learn to fly with the famous congressman</p>
                   <div class="progress">
                     <span style="width: 73%">73%</span>
                   </div>
                   <div class="gcdiv">
                     <span class="gctext">Goal: </span>
                     <span class="goalnum">$5243</span>
                     &emsp;
                     <span class="gctext">Current: </span>
                     <span class="currentnum">$3243</span>
                   </div>
                 </div>
               </div>
            </li>
            <li style="background-image:url(http://placehold.it/1040x450/f14f4f);">
                <div class="infocard slidecard">
                   <div class="cardtitle">
                     <h3>Go Hiking</h3>
                   </div>
                   <div class="cardcontent">
                     <p>Director: Carlos Danger<br>
                     School: US Congress<br>
                     Description: Students will learn to fly with the famous congressman</p>
                     <div class="progress">
                       <span style="width: 73%">73%</span>
                     </div>
                     <div class="gcdiv">
                       <span class="gctext">Goal: </span>
                       <span class="goalnum">$5243</span>
                       &emsp;
                       <span class="gctext">Current: </span>
                       <span class="currentnum">$3243</span>
                     </div>
                   </div>
                 </div>
              </li>
              <li style="background-image:url(http://placehold.it/1040x450/6dbb80);">
                  <div class="infocard slidecard">
                     <div class="cardtitle">
                       <h3>Go Hiking</h3>
                     </div>
                     <div class="cardcontent">
                       <p>Director: Carlos Danger<br>
                       School: US Congress<br>
                       Description: Students will learn to fly with the famous congressman</p>
                       <div class="progress">
                         <span style="width: 73%">73%</span>
                       </div>
                       <div class="gcdiv">
                         <span class="gctext">Goal: </span>
                         <span class="goalnum">$5243</span>
                         &emsp;
                         <span class="gctext">Current: </span>
                         <span class="currentnum">$3243</span>
                       </div>
                     </div>
                   </div>
                </li>
                <li style="background-image:url(http://placehold.it/1040x450/58b2fa);">
                    <div class="infocard slidecard">
                       <div class="cardtitle">
                         <h3>Go Hiking</h3>
                       </div>
                       <div class="cardcontent">
                         <p>Director: Carlos Danger<br>
                         School: US Congress<br>
                         Description: Students will learn to fly with the famous congressman</p>
                         <div class="progress">
                           <span style="width: 73%">73%</span>
                         </div>
                         <div class="gcdiv">
                           <span class="gctext">Goal: </span>
                           <span class="goalnum">$5243</span>
                           &emsp;
                           <span class="gctext">Current: </span>
                           <span class="currentnum">$3243</span>
                         </div>
                       </div>
                     </div>
                  </li>
        </ul>
    </div>
    <div class="navholder">
      <a href="#" class="unslider-arrow prev"><i class='icon-left-open-big'></i></a>
      <a href="#" class="unslider-arrow next"><i class='icon-right-open-big'></i></a>
    </div>
  </div>
</div>

<div class="row">&nbsp;</div>
