<!--***************************************SLIDESHOW******************************************-->
     
  <div class="fluid_container">
      <div class="camera_wrap" id="camera_wrap">
          <div data-src="images/1.jpg">
            <div class="infocard fadeIn camera_effected slidecard">
          <div class="cardtitle">
            <h3>Teach Flying</h3>
          </div>
          <div class="cardcontent">
            <p>Director: Carlos Danger<br>
            School: US Congress<br>
            Description: Students will learn to fly with the famous congressman</p>
            <div class="progress">
              <span style="width: 27%">27%</span>
            </div>
            <div class="gcdiv">
              <span class="gctext">Goal: </span>
              <span class="goalnum">$5243</span>
              &emsp;
              <span class="gctext">Current: </span> 
              <span class="currentnum">$3243</span>
            </div>
          </div>
        </div>
          </div>

          <div data-src="images/2.jpg">
            <div class="infocard fadeIn camera_effected slidecard">
          <div class="cardtitle">
            <h3>Go Hiking</h3>
          </div>
          <div class="cardcontent">
            <p>Director: Carlos Danger<br>
            School: US Congress<br>
            Description: Students will learn to fly with the famous congressman</p>
            <div class="progress">
              <span style="width: 73%">73%</span>
            </div>
            <div class="gcdiv">
              <span class="gctext">Goal: </span>
              <span class="goalnum">$5243</span>
              &emsp;
              <span class="gctext">Current: </span> 
              <span class="currentnum">$3243</span>
            </div>
          </div>
        </div>
          </div>

          <div data-src="images/3.jpg">
            <div class="infocard fadeIn camera_effected slidecard">
          <div class="cardtitle">
            <h3>Combat STDs</h3>
          </div>
          <div class="cardcontent">
            <p>Director: Carlos Danger<br>
            School: US Congress<br>
            Description: Students will learn to fly with the famous congressman</p>
            <div class="progress">
              <span style="width: 46%">46%</span>
            </div>
            <div class="gcdiv">
              <span class="gctext">Goal: </span>
              <span class="goalnum">$5243</span>
              &emsp;
              <span class="gctext">Current: </span> 
              <span class="currentnum">$3243</span>
            </div>
          </div>
        </div>
          </div>
      </div><!-- #camera_wrap_3 -->
  </div>

<div class="row">&nbsp;</div>