<h3>Listing All Donors</h3>
<% @users.each do |user| %>
  <% if !user.is_a?(Admin) && !user.is_a?(Recipient) && !user.is_a?(SuperUser) %>
    <%= user.first_name %> <%= user.last_name %>
    <br>
  <% end %>
<% end %>