
<%= render 'slideshow' %>
<%= render 'menu' %>

<!--***************************************TILES********************************************-->
<div class="row wrapper light">
    <%= render partial: 'crowdfunding_grants', collection: @grants, as: :grant %>
  <%= will_paginate @grants %>
</div>


<script>
$('.banner').unslider({
    speed: 500,               //  The speed to animate each slide (in milliseconds)
    delay: 3000,              //  The delay between slide animations (in milliseconds)
    keys: true,               //  Enable keyboard (left, right) arrow shortcuts
    dots: true,               //  Display dot navigation
    fluid: true              //  Support responsive design. May break non-responsive designs
});
</script>