<h1>Home Page</h1>
<p>This is a stub home page that we will change later.</p>

<h2>Grant Listing</h2>
<ul>
  <%= will_paginate @grants %>
</ul>

<% if can? :create, Grant %>
  <%= link_to "Create Grant!", new_grant_path %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>

