
<%= render 'slideshow' %>
<%= render 'menu' %>

<!--***************************************TILES********************************************-->
<div class="wrapper light">
  <div class="row">
    <%= render partial: 'crowdfunding_grants', collection: @grants, as: :grant %>
  </div>
  <%= will_paginate @grants %>
</div>


<script>
jQuery(function(){

  jQuery('#camera_wrap').camera({height:'38%'});

});
</script>