<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">
      <div class="row">
        <h2 class="centalign">Search Results</h2>
      </div>
      <div class="row">
        <%= render partial: 'crowdfunding_grants', collection: @grants, as: :grant %>
      </div>
    </div>
  </div>
</div>