<h5 class="inlined">Position</h5>
<%= profile.position %>

<h5>About</h5>
<%= profile.about %>

<br>
<div class="primary btn">
  <%= link_to "Update Credit Card Info", update_credit_card_info_path %>
</div>
