.row.centalign
  h2 Update Your Profile
.row
  .twelve.columns
    = form_for user, as: :user, url: user_path(user), html: { id: "edit_profile" } do |f|
      = render 'shared/errors', object: f.object
      .field
        = f.label :first_name
        = f.text_field :first_name, class: :input
      .field
        = f.label :last_name
        = f.text_field :last_name, class: :input
      = f.fields_for :profile do |ff|
        .field
          = ff.label :school, "School"
          = ff.collection_select :school_id, School.all, :id, :name, :prompt => 'Choose one...'
        .field
          = ff.label :started_teaching, "Started Teaching:"
          = ff.date_select :started_teaching, start_year: Time.now.year - 70, end_year: Time.now.year, order: [:year], :prompt => 'Choose one...'
        .field
          = ff.label :subject, "Subject You Teach"
          = ff.text_field :subject, class: :input
        .field
          = ff.label :grade, "Grade You Teach"
          = ff.text_field :grade, class: :input
        .field
          = ff.label :about, "Teacher Background"
          = ff.text_area :about, class: [:textarea, :input], rows: 3
        .field
          = ff.label :address, "Address"
          = ff.text_field :address, class: :input
        .field
          = ff.label :city, "City"
          = ff.text_field :city, class: :input
        .field
          = ff.label :zipcode, "Zip Code"
          = ff.text_field :zipcode, class: :input
        .field
          = ff.label :state, "State"
          = ff.select :state, options_for_select(us_states, @user.profile.state)
        .field
          = ff.label :work_phone, "Work Phone"
          = ff.text_field :work_phone, class: :input
        .field
          = ff.label :home_phone, "Home Phone"
          = ff.text_field :home_phone, class: :input
      .medium.primary.btn.pull_right
        = f.submit "Save!", id: 'update-profile'
