.row.centalign
  h2 Update Your Profile
.row
  .twelve.columns
    = form_for user, url: user_path(user), html: { id: "edit_profile" } do |f|
      = render 'shared/errors', object: f.object
      .field
        = f.label :first_name
        = f.text_field :first_name, class: :input
      .field
        = f.label :last_name
        = f.text_field :last_name, class: :input
      = f.fields_for :profile do |ff|
        .field
          = ff.label :relationship, 'Relationship'
          = ff.select :relationship, options_for_select(['Parent of Student', 'Parent of Alum', 'Alum',
                   'Grandparent of Student', 'Grandparent of Alum', 'Relative', 'Family Friend', 'Other'], @user.profile.relationship), :prompt => 'Choose one...'
        .field
          = ff.label :address, 'Address'
          = ff.text_field :address, class: :input
        .field
          = ff.label :city, "City"
          = ff.text_field :city, class: :input
        .field
          = ff.label :zipcode, "Zip Code"
          = ff.text_field :zipcode, class: :input
        .field
          = ff.label :state, "State"
          = ff.select :state, options_for_select(us_states, @user.profile.state), :prompt => 'Choose one...'
        .field
          = ff.label :phone, "Phone Number"
          = ff.text_field :phone, class: :input
      .medium.primary.btn.pull_right
        = f.submit "Save!", id: 'update-profile'
