.row
  - if profile.address
    h5 Address:
    .row= profile.address
    .row
      = "#{profile.city} #{profile.zipcode}"
.row
  - if profile.phone
    h5 Phone:
    = profile.phone
br/
.primary.btn
  = link_to "Update Credit Card Info", update_credit_card_info_path
