.row
  .wrapper.light
    .row.centalign
      h2 Your Credit Card Information
    .row
      .twelve.columns
        = form_for @user, as: :user, url: user_path(@user) do |f|
          = hidden_field_tag :stripe_token
          .field
            = f.label_tag :card_number, "Credit Card Number"
            = f.text_field_tag :card_number, nil, name: nil, placeholder: @card_number, class: :input
          .field
            = f.label_tag :card_code, "Card Security Code"
            = f.text_field_tag :card_code, nil, name: nil, class: :input
          .field
            = label_tag :card_month, "Card Expiration"
            .picker
              = select_month @month, {add_month_numbers: true}, {name: nil, id: "card_month"}
            .picker
              = select_year @year, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
          #stripe-error
            noscript Javascript is required. Please enable it in your browser settings.
          .medium.primary.btn.pull_right
            = f.submit "Save!", id: 'update-cc'
