<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">

      <% if @user.is_a?(Recipient) %>
        <%= render "recipient_edit", locals: { user: @user, profile: @profile } %>
      <% elsif @user.is_a?(User) %>
        <%= render "user_edit", locals: { user: @user, profile: @profile } %>
      <% end %>

      </div>
    </div>
  </div>
</div>
