<div class="row">
  <div class="wrapper light">
    <div class="row">
        <h2><%= @user.first_name %> <%= @user.last_name %> </h2>
    </div>

    <div class="row">
      <h4>Email</h4>
      <%= @user.email %>
    </div>

    <% if current_user.type == "User" %>
      <%= render partial: "user_profile" %>
    <% end %>
    <% elsif current_user.type == "Recipient" %>
    <% end %>
  </div>
</div>
