<div class="row">
    <div class="twelve columns">
        <div class="wrapper light">
            <div class="row">
                <h2 class='centalign'>Congratulations!</h2>
                You just made your first donation!
                <div class="field">
                    You donated $<span id='payment-amount'></span> to <%= @grant.title %>!
                </div>
                <div class="field">
                    <%= @grant.recipient.name %> will be very grateful. You're making a difference.
                </div>
                <div class="field">
                    <%= image_tag("http://who-is-awesome.com/who-is-awesome.jpg") %>
                </div>
            </div>
        </div>
    </div>
</div>
Awesome job
