h2.ultitle Preview
.row.centalign
  h2
    = grant.title
  h5
    = grant.recipient.name
    | | #{grant.school_name}
  h5
    a href="https://www.facebook.com/sharer/sharer.php?" target="_blank" 
      i.icon-facebook
    a expr:href="data:post.canonicalUrl" href="https://twitter.com/share" 
      i.icon-twitter
    a href="javascript:emailCurrentPage()" 
      i.icon-mail
.row
  - if !grant.image_url.blank?
    = image_tag grant.image_url :banner
  - else
    .imgreplacementlrg
      .repson= grant.title
.row.centalign
  .eleven.columns.centered
    p.largefont= grant.summary
  br/
.row.padada
  .ten.columns.centered.centalign
    h4.inlined Subject Areas:
    span.largefont= grant.subject_areas.values.to_a.join(', ')
hr/
.row
  .ten.columns.centalign.centered
    h3 Logistics
    h5
      strong Purpose
    = grant.purpose
    h5
      strong Methods
    = grant.methods
    h5
      strong Teacher Background
    = grant.background
- if !grant.video.blank?
  .row
    .ten.columns.centered
      .video-container
        iframe src="http://www.youtube.com/embed/#{parse_embed(grant)}" 
.row
  .ten.columns.centalign.centered
    br/
    h3 Details
    h5.inlined
      strong Grade level:
    = succeed "&amp;emsp;" do
      span.medfont= grant.grade_level
    h5.inlined
      strong Duration:
    = succeed "&amp;emsp;" do
      span.medfont= grant.duration
    h5.inlined
      strong # of classes:
    = succeed "&amp;emsp;" do
      span.medfont= grant.num_classes
    h5.inlined
      strong # of students:
    span.medfont= grant.num_students
    br/
    - if grant.has_collaborators?
      h5
        strong Collaborators
      = grant.collaborators
.row
  .ten.columns.centalign.centered
    br/
    h3.centalign Budget
    h5.inlined
      strong Total budget:
    span.medfont
      | $#{grant.total_budget}
    br/
    h5
      strong Description
    = grant.budget_desc
    h5
      strong Use of Funds
    = grant.funds_will_pay_for.values.to_a.join(', ')
- if grant.has_comments?
  .row
    .ten.columns.centalign.centered
      br/
      h3 Additional Comments
      = grant.comments
