<div class="row">
  <h1>Editing <%= @draft_grant.title %></h1>
</div>

<div class="row">
  This is where the form to edit the total_budget, requested_funds, funds_will_pay_for, and budget_desc will go.
</div>