<div class="row">
  <h1>Editing <%= @draft_grant.title %></h1>
</div>

<div class="row">
  This is where the form to edit the grade_level, duration, num_classes, num_students, n_collaborators, and collaborators will go.
</div>