.row
  .twelve.columns
    .wrapper.light
      .row
        .twelve.columns.centered.centalign
          h2 Creating a Grant
          h5 Enter a title to get started!
          br/
      .row.centalign
        = form_for @draft_grant, url: drafts_path do |f|
          = render 'shared/errors', object: f.object
          = f.hidden_field :school_id
          .field.append
            = f.text_field :title, class: [:wide, :input], placeholder: :Title
            .medium.primary.btn
              = f.submit 'Go'
        br/
        .row
          .twelve.columns.centered.centalign
            h2 Or...
            h5 Select from your previously completed grants
            br/
        .row
          = render 'shared/table', heads: %w[Name],
            partials: [['previous_grant', @previous_grants,
              :grant, "You don't have any completed grants."]]