#togglelinks
  - grant.state_transitions.map { |s| s.event.to_s }.each do |state|
    div class="toggle_#{state}"
      - if state.eql? "crowdfund"
        = link_to state.titleize,
          "#",
          class: "crowdfund",
          id: grant.id,
          data: { bp_modal: '#crowdfund-form' }
      - elsif state.eql? "fund"
        = link_to state.titleize,
          grant_event_path(id: grant.id, state: state),
          method: :post,
          confirm: "Are you sure?",
          remote: true
      - else
        = link_to state.titleize,
          grant_event_path(id: grant.id, state: state),
          method: :post,
          confirm: "Are you sure?",
          remote: true
