// Your custom SCSS should be written here...

.pointer{cursor:pointer;}

.infocard{
	overflow:none;
    //@include box-shadow(0 0 3px #999);
	background-color:#fff;
	margin: 6px 6px 20px 6px !important;
	& img{width:100%;
		height:150px;
		}
	& .cardtitle{padding:5px 5px 0px 5px;}
	& .cardcontent{padding:2px 5px 5px 5px;}
}

.picker option{height:30px;
			background-color: rgb(255,255,255);
			line-height:36px;
			border: none;
			padding: 6px 0px 6px 15px;
		}
		
.fluid_container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
		}
		
.wrapper{
	//width:100%;
	padding:10px 10px 20px 10px;
	&.dark{
	background-color:#000;}
	&.light{
		@include box-shadow(0 0 3px #999);
		background-color:#fff;
		//@include border-radius(5px);
	}
}

.goalnum{
	font-size:$large;
	vertical-align:middle;
	color: $primary-color;
	}

.currentnum{
	font-size:$large;
	vertical-align:middle;
	color: $secondary-color;
	}
	
.gctext{
	vertical-align:middle;
	font-size:$small;
	}
	
.gcdiv{
	text-align:center; 
	line-height:30px;
	}

.category{
	font-size:$med;
	line-height:40px;
	text-align:left;
	}
	
.dayleft{
	font-size:$med;
	line-height:40px;
	text-align: right;
	}
	

.progress { 
	height: 20px; 
	position: relative;
	background: #eee;
}

.progress > span {
	display: inline-block;
	height: 100%;
	background-color: $secondary-color;
	position: relative;
	overflow: hidden;
	text-align:right;
	line-height:20px;
	color:#eee;
}

#nobullet > li {list-style:none;} 

.centalign{text-align:center;}

.ultitle{border-bottom:$table-cell-border-size $table-cell-border-style $default-color;}

.banner { 
	position: relative; 
	overflow: auto;
	width: 100%; 
 ul { 
 	list-style: none; 
 	li { 
 		float: left;
 		min-height: 350px; 

 		display:block;
 		//height: auto;
 		//width: 100%;
 		position:relative;
 		@include background-size(100% 100%);
 	}
 }
}

.slidecard {
		position:absolute;
		top:5%;
		left:5%;
		width:35%;
		background:#fff;
}