// Your custom SCSS should be written here...

.pointer{cursor:pointer;}

.picker option{height:30px;
			background-color: rgb(255,255,255);
			line-height:36px;
			border: none;
			padding: 6px 0px 6px 15px;
		}
.picker{height:40px;}

.fluid_container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	position: relative;
		}

.wrapper{
	//width:100%;
	padding:10px 10px 20px 10px;
	&.dark{
	background-color:#000;}
	&.light{
		@include box-shadow(0 0 3px #999);
		background-color:#fff;
		//@include border-radius(5px);
	}
}

.category{
	font-size:$med;
	line-height:40px;
	text-align:left;
	height:40px;
	}

#nobullet > li {list-style:none;}

.centalign{text-align:center;}

.ultitle{border-bottom:$table-cell-border-size $table-cell-border-style $default-color;}

.banner {
	position: relative;
	overflow: auto;
	width: 100%;
	ul {
	 	list-style: none;
	 	li {
	 		float: left;
	 		min-height: 350px;

	 		display:block;
	 		position:relative;
	 		@include background-size(100% 100%);
	 	}
	}
}

.navholder{
	position: absolute;
	bottom:0px;
	right:0px;
	.unslider-arrow{
		z-index: 100;
		font-size: $med;
	}
}

.infocard{
	overflow:none;
    //@include box-shadow(0 0 3px #999);
    background: rgba(255,255,255,0.9);
	margin: 6px 6px 20px 6px !important;
	& img{width:100%;
		height:150px;
		}
	& .cardtitle{padding:5px 5px 0px 5px;}
	& .cardcontent{
		padding:2px 5px 5px 5px;
		.progress {
			height: 20px;
			width: 100%;
			position: relative;
			background: $global-bg-color;//#eee;
			span {
				display: inline-block;
				height: 100%;
				background-color: $primary-color;
				position: relative;
				overflow: hidden;
				text-align:right;
				line-height:20px;
				color:$white;
			}
		}
		.gcdiv{
			text-align:center;
			line-height:30px;
			.goalnum{
				font-size:$large;
				vertical-align:middle;
				color: #222;//$primary-color;
				@include respond(all-phones){
					font-size: $med;
				}
			}

			.currentnum{
				font-size:$large;
				vertical-align:middle;
				color: $primary-color;
				@include respond(all-phones){
					font-size: $med;
				}
			}

			.gctext{
				vertical-align:middle;
				font-size:$small;
			}
		}
	}
}

.slidecard {
	position:absolute;
	top:5%;
	left:5%;
	width:35%;
	.cardcontent{
		.progress{
			background: $global-bg-color !important;
		}
	}
	@include respond(tablets){
		top:0px;
		left: 0px;
		width: 40%;
		height: 100%;
		margin: 0px 0px 0px 0px !important;
	}
	@include respond(all-phones){
		top:0px;
		left: 0px;
		width: 100%;
		height: auto;
		margin: 0px 0px 0px 0px !important;
		.cardtitle{
			text-align: center;
		}
		.cardcontent{
			& p {
				display:none;
			}
			.progress{
				background: $global-bg-color !important;
			}
		}
	}
}

.cardtext{
	height:$base-line-height*4;
	overflow:hidden;
	text-overflow:ellipsis;
	}

.nodisplay{
	display:none;
}

$imglargereplacementhgt: 250px;

.imgreplacementlrg{
	display:block;
	background: rgb(255,117,117);
	text-align: center;
	overflow:hidden;
	font-size: $xlarge;
	color: $white;
	height:$imglargereplacementhgt;
	line-height:$imglargereplacementhgt;
	.repson{
		margin:0 auto;
		margin-top: 10px;
		height: $imglargereplacementhgt - 20px;
		width: 97%;
		line-height: $imglargereplacementhgt - 20px;
		font-size: $xlarge;
		color: $white;
		text-align: center;
		border: 5px dashed $white;
	}
}

.grantviewbar{
	padding-top: 10px;
	.progress {
		height: 20px;
		width: 100%;
		position: relative;
		background: $global-bg-color;//#eee;
		span {
			display: inline-block;
			height: 100%;
			background-color: $primary-color;
			position: relative;
			overflow: hidden;
			text-align:right;
			line-height:20px;
			color:$white;
		}
	}
	.gcdiv{
		padding-top: 8px;
		text-align:center;
		line-height:$med;
		.goalnum{
			font-size:$large;
			vertical-align:middle;
			color: #222;//$primary-color;
			@include respond(all-phones){
				font-size: $med;
			}
		}

		.currentnum{
			font-size:$large;
			vertical-align:middle;
			color: $primary-color;
			@include respond(all-phones){
				font-size: $med;
			}
		}

		.gctext{
			vertical-align:middle;
			font-size:$med;
		}
	}
}

.inlined{display:inline;}
.padada{padding-top:10px;}
.smallfont{font-size:$small;}
.medfont{font-size:$med;}
.largefont{font-size:$large;}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ajaxful-rating{
	text-align:center;
	margin: 0 auto;
}

.poofin{display:none;}
@include respond(all-phones){

	.poofin{display:inline-block !important;}
	.poofout{display:none;}
}

.colorbox{
	display:inline-block;
	height:15px;
	width:15px;
}
.green{
	background-color:$secondary-color;
}
.red{
	background-color:$danger-hover-color;
}

.padless{
	padding:0px !important;
}

.marginless{
	margin: 0px !important;
}

.noroundborder{@include border-radius(0px !important) ;}

.helppanel{
	position:fixed;
	top:0px;
	left:-250px;
	width:250px;
	height:100%;
	z-index:1000;
	overflow:auto;
	background-color:$white;
	@include box-shadow(0 0 3px #999);
	@include transition-duration(.3s);
	.xbox{
		position:relative;
		top:10px;
		right:10px;
		font-size: $large;
	}
}

	.open{
		left:0px !important;
	}
.helppanelbutton{
	position:fixed;
	top:50%;
	margin-top:-50px; 
	left:-30px;
	height:45px;
	width:70px;
	line-height:30px;
	text-align:center;
	padding-top:15px;
	color:$white;
	font-size:$med;
	z-index:999;
	background-color:$primary-color;
	cursor:pointer;
	@include rotate(-90deg);
	@include box-shadow(0 0 3px #999);
	@include transition-duration(.3s);
	&:hover{
		left: -25px;
	}

}

.hinttext{color:darken($global-bg-color, 25%);}

.darken{color:#000;}
.primary-color{color:$primary-color;}
/****************************************Navigation Classes*****************************/
.userdropdown{
	font-weight:$header-font-weight;
	background: #fff;
	position:absolute;
	right:10px;
	top: 55px;
	width: 150px;
	z-index:100;
	ul{
		list-style:none;
		li{
			font-size: $med;
			display: block;
			padding:10px;
		}
	}

}

.loginmenu{
	.nodisplay{display:inline;}
}


body {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;

	-moz-tap-highlight-color:rgba(0,0,0,0);
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;

	-ms-tap-highlight-color:rgba(0,0,0,0);
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}

.container {
	overflow: hidden;
	background-color: $global-bg-color;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}


.trunkheader {
	position: relative;
	background-color: $white;//#f3f5f6;
	height:55px;
	line-height:55px;
	font-weight:$header-font-weight;
	@include box-shadow(0 0 3px #999);
	.homelogo {
	text-align: left;
	font-size: $med;
	padding-left: 10px;
	}
	.loginmenu{
		text-align: right;
		display: inline;
		font-size: $med;
		padding-right:10px;

	}
	img{
		height: 50px;
		margin-top: 3px;
		margin-bottom: 2px;
	}
}

.trunknav {
	position: absolute;
	left: 50%;
	margin-left:-230px;
	height:55px;
	top:0;
	.search{
		width: 300px;
	}
	.field{
		height:55px;
		margin: 0px !important;
		padding: 0px !important;
		margin-top:-5px !important; 
	}
}


.trunknav li {
    float: left;
    display: inline-block;
    font-size: $med;
    width: auto;
}

.trunknav li a {
	display: block;
	padding: 0px 20px 12px;
	font-family: $font-family;
	font-weight:$header-font-weight;
}

@include respond(all-phones){
	.trunknav {
	position: static;
	margin-left:0px;
	left:0;
	display:inline-block;
	.search{
		width: 100%;
		}
	}
	.trunknav li a{
		padding-left:5px;
		padding-right:5px;
	}
	.trunkheader .loginmenu{
		padding-right:5px;
	}
}
/*********  Loading Bar  **********/
.pace .pace-progress {
  background: #ef4023;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}
