/! ***************************************FOOTER********************************************
.row
  .footwrapper
    hr.hr-primary style=("color:red; background-color:red;") /
    .lmorefoot
      h4.primary-color Learn More
      li
        a href="http://www.berkeleypublicschoolsfund.org/?page_id=14"  About Us
      li
        a href="http://www.berkeleypublicschoolsfund.org/?page_id=15"  Donate
      li
        a href="http://www.berkeleypublicschoolsfund.org/?page_id=16"  Volunteer
      li
        a href="http://www.berkeleypublicschoolsfund.org/?page_id=17"  Grants
    .donfoot
      .primary.btn.large
        a#footer-donate href="https://www.berkeleypublicschoolsfund.org/donate/online-donation/"  Donate Now!
      p 510.644.6244 • Berkeley, CA
      #socials
        a href="https://www.facebook.com/pages/Berkeley-Public-Schools-Fund/120129884666097?ref=hl" target="_blank" 
          img src="http://www.berkeleypublicschoolsfund.org/wp-content/uploads/2013/09/social-facebook.jpg" /
      p
        | Developed by
        a href="http://www.calblueprint.org"  Blueprint
    div style="clear:both" 
  /! #footer-1
br/
javascript:
  | $('span.schooltext').each(function(index, value) {
      | var text = $(this).text();
      | if (text.length > 25){
          | text = text.substr(0,22) + '...';
          | $(this).text(text);
      | }
  | });
  
  | $('span.destext').each(function(index, value) {
      | var text = $(this).text();
      | if (text.length > 62){
          | text = text.substr(0,60) + '...';
          | $(this).text(text);
      | }
  | });
  
  | $('span.progressbar').each(function(value) {
    | var goalnum = $(this).attr('data-goal');
    | var currentnum = $(this).attr('data-current');
    | var width = parseInt(currentnum/goalnum*100);
    | if (currentnum/goalnum*100 - parseInt(currentnum/goalnum*100) >= 0.5){
      | width = width + 1
    | }
    | var text = width + "%";
    | if (width<12 && width!=0){width=10;}
    | if (width>100){width=100;}
    | var wideness = "width:" + width + "%";
    | $(this).text(text);
    | $(this).attr('style', wideness);
  | });
