<!--***************************************FOOTER********************************************-->
<div class="row ">
  <div class="footwrapper">
    <hr class="hr-primary" style="color:red; background-color:red;"/>
    <div class="lmorefoot">
      <h4 class="primary-color">Learn More</h4>
      <li><a href="http://www.berkeleypublicschoolsfund.org/?page_id=14">About Us</a></li>
      <li><a href="http://www.berkeleypublicschoolsfund.org/?page_id=15">Donate</a></li>
      <li><a href="http://www.berkeleypublicschoolsfund.org/?page_id=16">Volunteer</a></li>
      <li><a href="http://www.berkeleypublicschoolsfund.org/?page_id=17">Grants</a></li>
    </div>

    <div class="donfoot">
      <div class="primary btn large"><a id="footer-donate" href="https://www.berkeleypublicschoolsfund.org/donate/online-donation/">Donate Now!</a></div>
      <p><i class="icon-phone"></i>510.644.6244 &#8226; Berkeley, CA</p>
      <div id="socials">
        <a target="_blank" href="https://www.facebook.com/pages/Berkeley-Public-Schools-Fund/120129884666097?ref=hl">
          <img src="http://www.berkeleypublicschoolsfund.org/wp-content/uploads/2013/09/social-facebook.jpg" />
        </a>
      </div>
      <p>Developed by <a href="http://www.calblueprint.org">Blueprint</a></p>
    </div>
    <div style="clear:both"></div>
  </div><!-- #footer-1 -->
</div>
<br>

<script type="text/javascript">
$('span.schooltext').each(function(index, value) {
    var text = $(this).text();
    if (text.length > 25){
        text = text.substr(0,22) + '...';
        $(this).text(text);
    }
});

$('span.destext').each(function(index, value) {
    var text = $(this).text();
    if (text.length > 62){
        text = text.substr(0,60) + '...';
        $(this).text(text);
    }
});

$('span.progressbar').each(function(value) {
  var goalnum = $(this).attr('data-goal');
  var currentnum = $(this).attr('data-current');
  var width = parseInt(currentnum/goalnum*100);
  if (currentnum/goalnum*100 - parseInt(currentnum/goalnum*100) >= 0.5){
    width = width + 1
  }
  var text = width + "%";
  if (width<12 && width!=0){width=10;}
  if (width>100){width=100;}
  var wideness = "width:" + width + "%";
  $(this).text(text);
  $(this).attr('style', wideness);
});
</script>