<!--***************************************FOOTER********************************************-->

<div class="row">
  <div class="eight columns centered centalign">
    <p style="font-size:12px; font-size:0.75rem;">
        &copy; BluePrint 2013. All rights reserved.
    </p>
  </div>
</div>

<script type="text/javascript">
$('span.schooltext').each(function(index, value) {
    var text = $(this).text();
    if (text.length > 25){
        text = text.substr(0,22) + '...';
        $(this).text(text);
    }
});

$('span.destext').each(function(index, value) {
    var text = $(this).text();
    if (text.length > 62){
        text = text.substr(0,60) + '...';
        $(this).text(text);
    }
});

$('span.progressbar').each(function(value) {
  var goalnum = $(this).attr('data-goal');
  var currentnum = $(this).attr('data-current');
  var width = parseInt(currentnum/goalnum*100);
  if (currentnum/goalnum*100 - parseInt(currentnum/goalnum*100) >= 0.5){
    width = width + 1
  } 
  var text = width + "%";
  if (width<12){width=10;}
  var wideness = "width:" + width + "%";
  $(this).text(text);
  $(this).attr('style', wideness);
});
</script>