<!--***************************************FOOTER********************************************-->

<div class="row">
  <div class="eight columns">
    <p style="font-size:12px; font-size:0.75rem;">
      <strong>Contact Us</strong><br>
      <a href="mailto:">bpsf@bpsf.org</a><br><br>         
    </p>
  </div>
  <div>
    <p style="font-size:12px; font-size:0.75rem;">
        <strong>Navigate</strong><br>
    Here we would have a sitemap<br><br><br>
        &copy; BluePrint 2013. All rights reserved.
      </p>
  </div>
</div>