<div class="slideRight trunkheader">     <!--  Add "slideRight" class to items that move right when viewing Nav Drawer  -->
  <span>
    <i id="navToggle" class="icon-menu slideRight pointer"></i>    <!-- Add "slideRight" class to items that move right when viewing Nav Drawer  -->
    <a href="">Return to BPSF</a>
  </span>

  <div class="loginmenu pull_right">Hello John!</div>
</div>

<div class="trunknav slideLeft">
  <ul>
    <li><a href="#">Explore</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Apply</a></li>
    <li class="field"><input class="search input" type="search" placeholder="Search" /></li>
  </ul>
</div>
