<% if recipient? %>
	<div class="helppanel close"><span class="xbox pull_right"><i class="icon-cancel"></i></span>
		<h4>ITEMS NEEDED FOR APPLICATION</h4>
		<p>
			- Applicant’s basic contact information<br>
			- Basic information about project (e.g., total project budget, amount requested, brief summary of project, what funds will pay for, grade level(s) served)<br>
			- Budget detail<br>
			- Statement of Purpose<br>
			- Activities and Anticipated Outcomes<br>
			- Background of Project Director<br>
			- Number and names of additional collaborators and how they will participate ∞ Additional comments (e.g., timing constraints)
		</p>
		<h4>TIPS FOR SUCCESSFUL APPLICATIONS</h4>
		<p>
			1. The application states clearly what is to be done and why this is important to your teaching, program, and the students you serve. The application reflects time, thought, and purpose.<br>
			2. The budget is clearly itemized, detailing all expenses and giving specific items costs where relevant.<br>
			3. Budget and/or narrative convincingly explains that equipment or materials could be compatible with other school purchases and supported by BUSD Technology.<br>
			4. Expenses are reasonable<br>
			5. The proposed project is framed within a broader context (e.g., goals for classroom or school, enhancements that link to the curriculum)<br>
			6. Collaboration among teachers is incorporated with an explicit plan and purpose<br>
			7. The grant applicant has complied with all the requirements of any grant received in the prior year, especially filing a final report and communicating any changes in project plans.<br>
			8. Grant funds awarded in November are intended to benefit students in the current school year and be spent as soon as possible in the case of equipment and materials.<br>
			9. Only BUSD personnel working in classrooms or schools programs can apply. Applicants must be actively engaged in the proposed project.<br>
			10. Application convinces readers that the project is substantive and that the applicant is fully capable of carrying it out and reporting outcomes in a timely fashion.
		</p>
	</div>
	<div class="helppanelbutton close"><span>Help</span></div>
<% end %>