<li>
  <%= form_tag search_path, method: "get" do %>
  	<ul>
	    <li class="field">
	      <%= search_field_tag :query, nil, class: [:search, :xxwide, :input], placeholder: 'Search' %>
	    </li>
	</ul>
  <% end %>
</li>